@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.iso-map-wrapper {
  /* width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#isometrizer {
  /* position: relative; */
}

/* .buildings {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.building {
  background: #fefefc;
  position: absolute;
}

.building.naver {
  display: flex;
  width: 200px;
  height: 100px;
  bottom: 180px;
  left: 140px;
  align-items: center;
  justify-content: center;
}

.marker-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: wiggle 0.5s ease-out infinite;
  animation-direction: alternate;
}

.marker {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  color: #fccb5f;
  background: #ea364e;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.sliding-in {
  animation: slideInFromRight 2s forwards;
}

.sliding-out {
  animation: slideOutToRight 2s forwards;
}

.fullPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  height: 300vh; /* This should be 100vh * number of pages */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
