@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.iso-map-wrapper {
  /* width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#isometrizer {
  /* position: relative; */
}

/* .buildings {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.building {
  background: #fefefc;
  position: absolute;
}

.building.naver {
  display: flex;
  width: 200px;
  height: 100px;
  bottom: 180px;
  left: 140px;
  align-items: center;
  justify-content: center;
}

.marker-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: wiggle 0.5s ease-out infinite;
  animation-direction: alternate;
}

.marker {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  color: #fccb5f;
  background: #ea364e;
}

/* @keyframes slideInFromUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutFromDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.sliding-up {
  animation: slideOutFromDown 2s forwards;
}

.sliding-down {
  animation: slideInFromUp 2s forwards;
} */

@keyframes slideUp {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.slide-up {
  animation: slideUp 2s cubic-bezier(0.6, 0, 0.3, 1) forwards;
}

.slide-down {
  animation: slideDown 2s cubic-bezier(0.6, 0, 0.3, 1) forwards;
}

.fullPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  height: 300vh; /* This should be 100vh * number of pages */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.rotate-translate {
  /* Adjust the width and height as needed */
  width: 100vw;
  /* Create a background with a linear-gradient and set the angle */
  background: linear-gradient(4.962deg, #fff 50%, #000 50%);

  z-index: 0;
}

.rotate-translate2 {
  /* Adjust the width and height as needed */
  /* Create a background with a linear-gradient and set the angle */
  background: linear-gradient(-4.962deg, #000 50%, #fff 50%);

  z-index: 0;
}

.black-bg {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(0deg, #000 50%, #fff 50%);
}
