.fullPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  height: 300vh; /* This should be 100vh * number of pages */
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
